body {
	background: #fff;

	/* typography */
	color: #555;
	font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 62.5%;
	line-height: 22px;
	
	/* center */
	margin: 0px auto;
	width: 800px;

	padding: 5px 0 5px 0;

	/* use 100% height in child nodes */
	height: 100%;
}

img {
	border-width: 0;
}

.header {
	margin-left: 230px;
}

.header img {
	margin: 0px auto;
	text-align: center;
}

.menu {
	float: left;
	height: 100%;
}

.menu ul li {
	display: block;
	font-size: 140%;
}

.menu li a {
	color: #aaa;
	letter-spacing: 3px;
	font-weight: bold;
	line-height: 30px;
}

.content {
	margin-left: 230px;
	font-size: 120%;
}

.content a {
	color: #ff7642;
}

h1 {
	color: #ff7642;
	font-size: 160%;
}

h2 {
	color: #ff7642;
	font-size: 140%;
}

.releasetitle {
	padding-top: 6px;
	padding-bottom: 4px;
}

.releasetitle img {
	margin-bottom: -3px;
}

.releasecontent {
	border: 1px dashed #ccc;
	background-color: #fafafa;
	padding: 5px 10px 5px 10px;
}

.releasecontent img {
	margin-bottom: -3px;
}

.releasecontent ul, .releasecontent p {
	margin: 0px;
}

.releasecontent .download {
	padding-top: 10px;
}

table tr td {
	padding: 5px;
	text-align: center;
}

.caption {
	text-align: center;
}
